# Установить автоматическое преобразование окончаний строк
* text=auto

# Явно указать для определенных типов файлов
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Для бинарных файлов отключить преобразование
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
